# IDEs and Maven
.idea/
.project
.classpath
.c9/
*.launch
*.settings/
*.sublime-workspace
.mvn
*.iml

# Gradle
.gradle
/build

# Compiled class file
*.class

# Log file
*.log
npm-debug.log*

# Databases
*.sql
*.sqlite

# BlueJ files
*.ctxt

# Spring
.springBeans

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.dmg
*.gz
*.iso
*.tgz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# System files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Folder config file #
Desktop.ini

# Recycle bin on file shares #
$RECYCLE.BIN/
